body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

h1 {
  font-weight: 600;
  size: 40px;
  line-height: 19px;
  color: white;
}

ol {
  all: unset;
}

li {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
 display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}
